.large_icons{
    color: white;
    height: 50px;
    width: 40px;
    margin-top: 7px;
    margin-right: 5px;
}
.small_icons{
    color: white;
    height: 22px;
    width: 22px;
    margin-top:5px;
    margin-right: 15px;
}
.arrow_icons{
    color: white;
    height: 22px;
    width: 22px;
    margin-top:5px;
}
.circle2{
    fill: transparent;
    stroke: #d40248;
    stroke-width: 34px;
    margin-left :20px;
    margin-top:20px;
}
.circle3{
    fill: transparent;
    stroke: #f0dff5;
    stroke-width: 35px;
    stroke-dasharray:630;
    stroke-dashoffset: 270;
    margin-left :20px;
    margin-top:20px;
    
}